@page "/"

<PageTitle>Home</PageTitle>
<h1>MuseMind</h1>
<div class="Button-Menu">
    <button class="Base-Button Clio-Button">
        <img src="/Assets/crown of laurels white.png" width="72" height="66" style="transform:scaleX(-1);">
        <h2>Clio</h2>
        <img src="/Assets/greek-muse-white.png" width="93" height="93" style="transform: scaleX(-1);">
    </button>

    <button class="Base-Button Euterpe-Button">
        <img src="/Assets/flute white.png" width="72" height="66" style="transform:scaleX(-1);">
        <h2>Euterpe</h2>
        <img src="/Assets/greek-muse-white.png" width="93" height="93" style="transform: scaleX(-1);">
    </button>

    <button class="Base-Button Urania-Button">
        <img src="/Assets/twinkle star white png.png" width="72" height="66" style="transform:scaleX(-1);">
        <h2>Urania</h2>
        <img src="/Assets/greek-muse-white.png" width="93" height="93" style="transform: scaleX(-1);">
    </button>
</div>


